<!-- banner -->
<div class="banner">
  <div class="banner-bg d-flex justify-content-start align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-11 col-lg-8">
          <h4 class="text-white font-weight-light font-playfair mt-5">
            Welcome to <strong><span class="h2 d-block">Developers Association of Nepal!</span></strong>
          </h>
          <div class="caption mt-4">
            <h1 class="text-white font-weight-bold mt-4">
              Home for Software Developers<span class="d-block mb-inline"></span>
              in Nepal
            </h1>
            <p class="note">
              Website is Under Construction. Please Subscribe.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
