---
---

$baseurl: "{{ site.baseurl }}";
$asset_url: "{{ site.asset_url }}";
$banner-bg-img: "{{ site.data.home.banner.bg-img }}";
$highlights-bg-img: "{{ site.data.home.highlights.bg-img }}";
$news-highlight-bg-img: "{{ site.data.home.news-events.highlight.bg-img }}";

@import "custom";
